<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Boolzap</title>
</head>
<body>
    
  <div id="app" class="container clearfix">
    
    <div class="sidebar fl">
      <div class="sidebar-a">
        <div class="username">
          <img class="profile-img" src="img/avatar_io.jpg" alt="">
          <span>Alessandra</span>
        </div>
        <div class="icons-box">
          <i class="fas fa-circle-notch"></i>
          <i class="fas fa-comment-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <div class="sidebar-b">
        <div class="bell-container">
          <i class="fas fa-bell-slash"></i>
        </div>
        <div class="notifications">
          <span>Ricevi notifiche di nuovi messaggi</span>
          <p>Attiva notifiche desktop</p>
        </div>

      </div>
      <div class="sidebar-c">
        <i class="fas fa-search"></i>
        <input type="text" name="" value="" placeholder="Cerca o inizia una nuova chat">
      </div>

      <div class="sidebar-d">
          <ul>
            <li v-for="(element, index) in contacts" @click="selectedChat(index)"> <img :src="element.avatar" alt="" > <span>{{element.name}}</span> </li>
          </ul>
      </div>
    </div>
    <div class="main fl">
      <div class="main-top">
        <div class="current-chat">
          <div class="current">
            <img :src="contacts[activeIndex].avatar" alt="">
            <div class="name-and-access">
              <p>{{contacts[activeIndex].name}}</p>
              <span>Ultimo accesso alle ore</span>
            </div>

          </div>
          <div class="main-box-icons">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
      <div class="main-middle">
        <div class="message-container">
          <div v-for="element in contacts[activeIndex].messages" :class="element.status">{{element.text}}</div>
        </div>

      </div>
    </div>
      <div class="main-bottom">
        <i class="far fa-smile"></i>
        <input class="message" @keyup.enter="sendMessage" v-model="myMessage" type="text" name="" value="" placeholder="Scrivi un messaggio">
        <i class="fas fa-microphone"></i>
      </div>
    </div>

  </div>

      <script src="js/script.js"></script>
</body>
</html>